*{
    font-family: "Gill Sans", sans-serif;
}

body{
    min-width:1000px;     
}

.dash-graph {
    height: 82.5vh;
    width: 99vw;
    min-width:1100px;   
    min-height:1000px;     
}

#header{
    margin: 10px;
    color: #c15878;
    text-align: center;
}

#title{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

/* #header.p{} */

/* #header:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 10%;
    opacity: 0.3;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-image: url(https://josuemtzmo.github.io/wetbulb.github.io/resources/WB_temp_bands_threshold.png);
} */

.mapboxgl-map{
    width:50% !important;
    left:0;
    border-radius: 10px;
}

.cartesianlayer{
    width:50% !important;
    left:0;
    border-radius: 10px;
}

#country-selected{
    position: relative;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#year-slider{
    position: relative;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    font-size: medium;
}

.rc-slider-mark{
    font-size: 18px;
    padding-bottom: 10px;
}



#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #c15878;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 1;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#map {
    text-align: center;
    opacity: 0;
}

#country-selected{
    display: none;
}

#year-slider{
    padding: 0px 0px 36px !important;
}

.colorbar rect{
    fill-opacity: 0.7 !important;
}